*{
    font-family: 'Raleway', sans-serif;
}
 
a{
    text-decoration: none;
}

body{
    width: 100%;
    position: relative;
}
/* navbar */
.header-page{
    color: #000;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px 0px rgb(126, 125, 125);
    position: sticky;
    top: 0;
    z-index: 2;
    transition: width .3s ease-in-out;
}
.header-page > ul{
    list-style: none;
}

/* list view */

.user-list > a{
    display: block;
    list-style: none;
    padding: 20px 20px;
    color: #fff;
    font-weight: bolder;
    transition: background-color .4s ease-in-out;
}

.user-list > a:hover{
    background-color: rgb(126, 125, 125);
}

.user-list > a:first-child{
    padding: 40px 20px;
}

.user-list{
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    overflow-x: hidden;
    background-color: rgb(66, 66, 66);
    transition: width .3s ease-in-out;
    z-index: 1;
    
}
.title{
    transition: padding-left .3s ease-in-out;
}

.table-custom{
    width: 100%;
    margin-left: 220px;
    margin-right: 10px;
    
}

/* product */

.card{
    width: 20%;
    min-width: 200px;
    z-index: 0;
}

/* cart */
.img-custom{
    border-radius: 5px;
}
.color-display{
    background-color: rgb(66, 66, 66);
}
.btn-remove{
    font-size: 30px;
}
.btn-remove:hover{
    color: crimson;
}


/* media-query */


@media only screen and (max-width: 500px){
    .table-custom{
        margin-left: 10px;
    }
    .user-list{
        width: 0px;
    }
}
@media only screen and (max-width: 700px){
    .title{
        padding-left: 30%;
    }
    .card-body > p{
        display: none;
    }
}

 