extends ../layout/commonLayout

block content
    div.border-bottom-0
        table.table.text-center
            thead.color-display.text-light
                tr
                    th(scope='col') #
                    th(scope='col') Description
                    th(scope='col') Amount
                    th(scope='col') Price
                    th(scope='col') Remove
            tbody
                tr.align-middle
                    th key
                    td
                        .d-flex.justify-content-start
                            img.img-custom(src='https://loremflickr.com/320/240', alt='#', width='80', height='80')
                            div.text-center.ms-4 
                                p information 
                    th amount
                    th price
                    td
                        button.btn.btn-remove X
            tr.lh-lg.color-display.text-light
                td(colspan='2')
                td(colspan='1') Total price
                td(colspan='1') Price
                td
    .row.px-5.py-3
        .col-10
        a.col-sm-2.btn.btn-success Check out
    .row.px-5.pb-3
        .col-10
        a.col-sm-2.btn.btn-success Continue Shopping
